.main{
    margin-top: 100px;

    display: flex;
    justify-content: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: rgb(58, 104, 96);
    background-color: rgb(242, 242, 242);
}
.interface-system{
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.primeiro-campo h2{
    margin-top:0px;
    margin-bottom:0px;
    padding: 8px;

    background-color:rgb(137, 208, 196);
    color: rgb(58, 104, 96);
}
.segundo-campo h2{
    margin-top:50px;
    margin-bottom:0px;
    padding: 8px;

    background-color: rgb(137, 208, 196);
    color: rgb(58, 104, 96);
}
.receitas{
    justify-content: center;
    align-self: center;
    margin: 0px;
    border: none;
    
    background-color: rgb(149, 229, 216);
}
.despesas{
    justify-content: center;
    align-self: center;
    margin: 0px;
    border: none;

    background-color: rgb(149, 229, 216);
}
.receitas label{
    width: 390px;
    display: inline-block;
    align-items: center;
}
.despesas label{
    width: 390px;
    display: inline-block;
    align-items: center;
}

.receitas input{
    width: 100px;
    border: none;
    border-radius: 50px;
    outline: 1px solid;
    text-align: center;

    background-color: rgb(247, 247, 247);
    color: rgb(58, 104, 96);
    outline-color: rgb(130, 209, 196);
}
.despesas input{
    width: 100px;
    border: none;
    border-radius: 50px;
    outline: 1px solid;
    text-align: center;

    background-color: rgb(247, 247, 247);
    color: rgb(58, 104, 96);
    outline-color: rgb(130, 209, 196);
}
.despesas input:focus{
    color: rgb(58, 104, 96);
}
.total-receita{
    border: 1px solid;
    margin: 0px;

    border-color: rgb(151, 231, 217);
    background-color: rgb(247, 247, 247);
}
.receita-fim-mes{
    border: 1px solid;
    margin: 0px;

    border-color: rgb(151, 231, 217);
    background-color: rgb(247, 247, 247);
}
.total-receita label{
 font-size: 20px;
}
.receita-fim-mes label{
    font-size: 20px;
}
.creditos{
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top:80px;

    color: rgb(185, 185, 185);
}